# ignore files
.idea/
.DS_Store
__pycache__/
svdca/__pycache__/
*.py[cod]
*.*.py[cod]
dash_app/
analyse/
diggout/sims_data
diggout/mymodel.d2v
diggout/tmp
supply/proxy/douyin_analyse
svdca/assets/html
svdca/assets/img
svdca/data/comments.csv
svdca/data/posts.csv
svdca/data/stars.csv
svdca/data/users.csv
config.py
alembic.ini
config_production.py
log/


